{
  "name": "magento2-module-page-builder",
  "version": "1.0.0",
  "description": "The Collab_PageBuilder module overrides some of the default Magento 2 Page Builder functionalities in order to provide better performance and flexibility for Your Magento 2 app.",
  "main": "Gruntfile.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/collabpl/magento2-module-page-builder.git"
  },
  "author": "Marcin Jędrzejewski <m.jedrzejewski@collab.pl>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/collabpl/magento2-module-page-builder/issues"
  },
  "homepage": "https://github.com/collabpl/magento2-module-page-builder#readme",
  "devDependencies": {
    "grunt": "^1.6.1",
    "grunt-contrib-uglify": "^5.2.2"
  }
}
